.c-table--paginator {
    line-height: 4.4rem;
    text-align: center;

    &-item {
        margin: 1rem;
        padding: 1rem;

        font-size: 2.4rem;
        user-select: none;
        cursor: pointer;

        text-decoration: none;
    }
}
